body {
    padding: 10px;
    margin: 0;
    background-color: #111;
    color: #eee;
    font-family: 'Ubuntu Mono', sans-serif;
}
#console {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: table;
}
.line {
}
#output {
    display: table-cell;
    vertical-align: bottom;
    position: absolute;
    bottom: 20px;
}
#pointer {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -o-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}
@keyframes blink {  
    0% { color: #eee; background-color: #eee; }
    50% { color: #eee; background-color: #eee; }
    60% { color: #111; background-color: #111; }
    100% { color: #111; background-color: #111; }
}
@-webkit-keyframes blink {
    0% { color: #eee; background-color: #eee; }
    50% { color: #eee; background-color: #eee; }
    60% { color: #111; background-color: #111; }
    100% { color: #111; background-color: #111; }
}